.tag {
  background-color: var(--color-outline);
  color: var(--color-text);

  padding: 0.56rem 1.5rem;

  border-radius: 999rem;

  font-size: 1rem;
  font-weight: 400;

  line-height: 1.45;

  &.selected {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}
