.onboarding {
  main {
    display: grid;
    grid-template-rows: auto 1fr;

    img {
      inline-size: 100%;
      block-size: 100%;

      object-fit: cover;
    }

    .writings {
      display: grid;
      justify-items: center;
      gap: 1rem;

      padding-inline: 1.5rem;

      margin-block: 3rem 4.5rem;

      p {
        max-inline-size: 13.06rem;

        text-align: center;
      }
    }

    button {
      margin-inline: 1.5rem;
      margin-block-end: 4.5rem;
    }
  }
}
