.recipe-card {
  inline-size: 16.5rem;
  block-size: 10.75rem;

  border-radius: 1rem;

  display: grid;
  grid-template-rows: 2fr 1fr 1fr;

  padding: 1rem;

  color: var(--color-white);

  background-image: url("/assets/images/fried-chicken.jpg");
  background-size: cover;

  .title {
    inline-size: 12rem;
    line-height: 110.00000000000001%;
    color: var(--color-white);
    grid-row-start: 2;
  }

  .recipe-info {
    grid-row-start: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .owner {
      display: flex;
      justify-items: center;
      gap: 0.25rem;

      img {
        inline-size: 1.25rem;
        block-size: 1.25rem;
        border-radius: 999rem;
      }

      > div {
        padding-top: 0.25rem;
        color: var(--color-white);
      }
    }

    .cook-time {
      display: flex;
      gap: 0.25rem;
      align-items: center;

      > div {
        color: var(--color-white);
      }
    }
  }
}
