.recipe-card {
  color: var(--color-white);

  position: relative;

  display: grid;
  grid-template-rows: 2fr 1fr 1fr;

  block-size: 10.75rem;
  inline-size: 16.5rem;

  padding: 0.75rem;

  .cover-img {
    position: absolute;
    z-index: -1;

    width: inherit;
    height: inherit;
    object-fit: cover;

    border-radius: 1rem;
  }

  .title {
    grid-row-start: 2;

    color: var(--color-white);

    inline-size: 12rem;

    line-height: 110%;
  }

  .recipe-info {
    grid-row-start: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .owner {
      display: flex;
      justify-items: center;
      gap: 0.25rem;

      img {
        block-size: 1.25rem;
        inline-size: 1.25rem;

        border-radius: 999rem;
      }

      > span {
        color: var(--color-white);

        padding-top: 0.25rem;
      }
    }

    .cook-time {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      > span {
        color: var(--color-white);
      }
    }
  }
}
