.range-input-component {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;

  .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .range-input-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

    .range-labels {
      color: var(--color-primary);
      display: flex;
      inline-size: 100%;
      justify-content: space-between;
      align-items: center;

      .range-label {
        color: inherit;
      }

      .range-label:last-child {
        color: var(--color-text-secondary);
      }
    }

    input[type="range"] {
      appearance: none;
      height: 0.5rem;
      background: var(--color-form);
      border-radius: 999rem;
      background: linear-gradient(
        to right,
        var(--color-primary) 0%,
        var(--color-primary) var(--fill-percentage),
        var(--color-form) var(--fill-percentage),
        var(--color-form) 100%
      );
    }

    /* WebKit browsers */
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 999rem;
      background-color: var(--color-primary);
    }

    /* Firefox */
    input[type="range"]::-moz-range-thumb {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 999rem;
      border: none;
      background-color: var(--color-primary);
    }
  }
}
