.signed-in {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;

  block-size: 100dvh;

  > :first-child {
    display: grid;
    grid-template-rows: auto 1fr;

    > main {
      overflow: auto;

      scrollbar-width: thin;

      padding-block-end: 2rem;
    }
  }
}
