:root {
  --color-icon: hsl(196deg 32% 44% / 100%);
}

.greetings-section {
  span {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    svg {
      color: var(--color-icon);

      font-size: larger;
    }
  }
}
