:root {
  --color-icon: hsla(196, 32%, 44%, 1);
}

.greetings-section {
  span {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    svg {
      font-size: larger;
      color: var(--color-icon);
    }
  }
}
