.sign-in {
  padding-inline: 1.5rem;

  .writings {
    margin-block: 6.68rem 2rem;

    display: grid;
    justify-items: center;
    gap: 0.5rem;
  }

  form {
    label {
      &:nth-child(2) {
        margin-block: 1rem 7.56rem;
      }
    }

    button {
      inline-size: 100%;
    }
  }

  .text {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    inline-size: calc(100% - (3.75rem * 2));

    margin: 2rem auto 0 auto;
  }
}
