:root {
  --color-orange: rgb(253 122 34 / 100%);
  --color-orange-hover: rgb(253 122 34 / 8%);
  --color-orange-active: rgb(242 207 184 / 37%);
  --color-orange-active-bg: rgb(255 145 77 / 100%);
  --color-disabled-bg: rgb(181 181 181);
  --color-disabled-text: rgb(75 74 74);
}

.button {
  background: none;
  color: var(--color-orange);

  position: relative;
  overflow: hidden;

  padding: 0.5rem 1rem;

  border: none;
  border-radius: 3px;

  transition: 250ms;

  cursor: pointer;

  &.medium {
    inline-size: 6rem;
  }

  &.large {
    inline-size: 12rem;
  }

  &:disabled {
    opacity: 0.6;

    cursor: not-allowed;
    pointer-events: none;
  }

  &:active::before {
    content: "";

    background: var(--color-orange-active);

    position: absolute;
    top: -80%;
    left: 10%;
    z-index: 1;

    width: 80%;
    height: 250%;

    border-radius: 100%;

    pointer-events: none;
  }

  &.contained {
    background: var(--color-orange);
    color: rgb(255 255 255);

    position: relative;

    border: none;

    &:hover {
      background-color: rgb(249 115 22);
    }

    &:active {
      background: var(--color-orange-active-bg);
    }

    &:disabled {
      background-color: var(--color-disabled-bg);
      color: var(--color-disabled-text);
    }
  }

  &.outlined {
    background: transparent;
    color: var(--color-orange);

    z-index: 0;

    border: 2px solid var(--color-orange);

    &:hover {
      background-color: var(--color-orange-hover);
    }

    &:disabled {
      background: none;
      color: var(--color-disabled-text);

      border-color: var(--color-disabled-bg);
    }
  }

  &.text {
    background: none;
    color: var(--color-orange);

    &:hover {
      background-color: var(--color-orange-hover);
    }

    &:active {
      background: rgb(253 122 34 / 16%);
    }

    &:disabled {
      background: none;
      color: var(--color-disabled-text);
    }
  }
}
