:root {
  --color-orange: hsl(24deg 98% 56%);
  --color-orange-hover: hsl(24deg 98% 56% / 8%);
  --color-orange-active: hsl(24deg 69% 84% / 37%);
  --color-orange-active-bg: hsl(23deg 100% 65%);
  --color-disabled-bg: hsl(0deg 0% 71%);
  --color-disabled-text: hsl(0deg 1% 29%);
}

.button {
  background: none;
  color: var(--color-orange);

  position: relative;
  overflow: hidden;

  padding: 0.5rem 1rem;

  border: none;
  border-radius: 2px;

  transition: 250ms;

  cursor: pointer;

  &.fullwidth {
    inline-size: 100%;
  }

  &:disabled {
    opacity: 0.6;

    cursor: not-allowed;
    pointer-events: none;
  }

  &:active::before {
    content: "";

    background: var(--color-orange-active);

    position: absolute;
    top: -80%;
    left: 10%;
    z-index: 1;

    width: 80%;
    height: 250%;

    border-radius: 100%;

    pointer-events: none;
  }

  &.contained {
    background: var(--color-orange);
    color: rgb(255 255 255);

    position: relative;

    border: none;

    &:hover {
      background-color: rgb(249 115 22);
    }

    &:active {
      background: var(--color-orange-active-bg);
    }

    &:disabled {
      background-color: var(--color-disabled-bg);
      color: var(--color-disabled-text);
    }
  }

  &.outlined {
    background: transparent;
    color: var(--color-orange);

    z-index: 0;

    border: 2px solid var(--color-orange);

    &:hover {
      background-color: var(--color-orange-hover);
    }

    &:disabled {
      background: none;
      color: var(--color-disabled-text);

      border-color: var(--color-disabled-bg);
    }
  }

  &.text {
    background: none;
    color: var(--color-orange);

    &:hover {
      background-color: var(--color-orange-hover);
    }

    &:active {
      background: rgb(253 122 34 / 16%);
    }

    &:disabled {
      background: none;
      color: var(--color-disabled-text);
    }
  }
}
