.auth {
  .writings {
    display: grid;
    justify-items: center;
    gap: 0.5rem;
  }

  form {
    display: grid;
    gap: 1rem;

    margin-block: 2rem;

    .validation {
      display: grid;
      gap: 0.5rem;

      margin-block: 1rem;

      .rules {
        display: grid;
        gap: 0.25rem;

        .rule {
          color: var(--color-text-secondary);

          display: flex;
          align-items: center;
          gap: 0.5rem;

          .circle {
            background-color: var(--color-text-secondary-fade);
            color: var(--color-text-secondary);

            display: grid;
            place-content: center;

            block-size: 1.5rem;
            aspect-ratio: 1 / 1;

            border-radius: 999rem;

            font-size: 0.75rem;
          }

          &.valid {
            color: var(--color-text);

            .circle {
              background-color: var(--color-primary-fade);
              color: var(--color-primary);
            }
          }
        }
      }
    }

    > button {
      inline-size: 100%;

      margin-block-start: 3.5rem;
    }
  }

  .alternative {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    a {
      color: var(--color-primary);
    }
  }
}
