.success-modal {
  background-color: var(--color-white);

  padding: 3rem 1rem;

  .image-wrapper {
    block-size: 10rem;
    inline-size: 10rem;
    object-fit: cover;

    margin: 0 auto 2rem;

    img {
      block-size: 100%;
      inline-size: 100%;
    }
  }

  .writings {
    display: grid;
    justify-items: center;
    gap: 0.5rem;

    margin-block-end: 1.5rem;

    p {
      max-inline-size: 16rem;
    }
  }

  a {
    background-color: var(--color-primary);
    color: var(--color-white);

    display: inline-block;

    inline-size: 100%;

    padding-block: 1.1875rem;

    border-radius: 999rem;

    text-align: center;
  }
}
