.text-input {
  --adornment-color: var(--color-text);
  --border-color: var(--color-outline);

  background-color: var(--color-white);
  color: var(--color-text);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  inline-size: 100%;

  padding: calc(1rem - 1px) 1.5rem;

  border: 1px solid var(--border-color);
  border-radius: 999rem;

  .adornment {
    color: var(--adornment-color);

    display: inline-grid;

    font-size: 1.5rem;
  }

  input {
    background-color: transparent;

    inline-size: 100%;

    border: none;

    outline: none;

    font-size: 0.9375rem;
    font-weight: 500;

    line-height: 1.5rem;

    &::placeholder {
      color: var(--color-text-secondary);
    }
  }

  &.search {
    background-color: var(--color-form);

    border-color: var(--color-form);
  }

  &.success {
    --adornment-color: var(--color-primary);
    --border-color: var(--color-primary);
  }

  &.error {
    --adornment-color: var(--color-danger);
    --border-color: var(--color-danger);
  }

  &:focus-within {
    outline: 1px solid var(--adornment-color);
    outline-offset: -2px;
  }
}
