.text-input {
  display: grid;
  gap: 0.25rem;

  inline-size: 10rem;

  font-size: 1rem;
  font-weight: 400;

  line-height: 1.5;

  input {
    background-color: hsl(0deg 0% 100% / 100%);

    block-size: 2.5rem;
    inline-size: 100%;

    /* Note: We decrement padding by 1px to account for border-width. */
    padding: calc(0.5rem - 1px);

    border: 1px solid hsl(210deg 14% 83% / 100%);
    border-radius: 0.25rem;

    &::placeholder {
      color: hsl(210deg 7% 56% / 100%);
    }

    &:hover {
      border-color: hsl(210deg 9% 31% / 100%);
    }

    &:focus {
      outline: 2px solid hsl(0deg 0% 0% / 100%);
      outline-offset: -1px;
    }

    &:disabled {
      background-color: hsl(210deg 17% 95% / 100%);
      color: hsl(210deg 7% 56% / 100%);

      border-color: hsl(210deg 14% 83% / 100%);
    }
  }

  &.fullwidth {
    inline-size: 100%;
  }

  .error {
    color: hsl(350deg 80% 50% / 100%);

    padding-inline-start: 0.5rem;

    font-size: 0.75rem;
  }

  &.error {
    input {
      border-color: hsl(350deg 80% 50% / 100%);
    }
  }
}
