.input {
  display: grid;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 400;

  input {
    background-color: hsl(0deg 0% 100% / 100%);

    block-size: 2.5rem;
    inline-size: 10rem;

    padding: 0.5rem;

    border: 1px solid hsl(210deg 14% 83% / 100%);
    border-radius: 0.25rem;

    line-height: 1.5rem;

    &.large {
      inline-size: 16rem;
    }

    &.error {
      border-color: hsl(350deg 80% 50% / 100%);
    }

    &:disabled {
      color: hsl(210deg 7% 56% / 100%);

      background-color: hsl(210deg 17% 95% / 100%);

      border-color: hsl(210deg 14% 83% / 100%);
    }

    &:hover {
      border-color: hsl(210deg 9% 31% / 100%);
    }

    &:focus {
      border: 2px solid hsl(0deg 0% 0% / 100%);
    }

    + p {
      color: hsl(350deg 80% 50% / 100%);

      font-size: 0.75rem;

      padding-inline-start: 0.5rem;
    }
  }
}
