:root {
  --color-white: hsl(0deg 0% 100%); /* #ffffff */
  --color-black: hsl(0deg 0% 0%); /* #000000 */

  --color-text: hsl(219deg 33% 27%); /* #2e3e5c */
  --color-text-secondary: hsl(229deg 21% 69%); /* #9fa5c0 */
  --color-outline: hsl(215deg 38% 87%); /* #d0dbea */
  --color-form: hsl(220deg 16% 96%); /* #f4f5f7 */

  --color-primary: hsl(151deg 74% 46%); /* #1fcc79 */
  --color-danger: hsl(0deg 100% 70%); /* #ff6464 */

  --color-backdrop: hsl(0deg 0% 0% / 60%);
  --color-overlay: hsl(0deg 0% 0% / 60%);
}
