.typography {
  &.ellipsis {
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.primary {
    color: var(--color-primary);
  }

  &.text {
    color: var(--color-text);
  }

  &.text-secondary {
    color: var(--color-text-secondary);
  }
}
