.navbar {
  --offset: 1.5rem;

  position: relative;
  isolation: isolate;

  display: grid;
  grid-template-rows: var(--offset) auto;

  margin-block-start: calc(-1 * var(--offset));

  &::before {
    content: "";

    grid-column: 1 / -1;
    grid-row: 2 / -1;

    background-color: var(--color-white);

    position: absolute;
    inset: 0;
    z-index: -1;
  }

  > ul {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;

    padding: 0.5rem 1.25rem 1rem;

    > li {
      a {
        color: var(--color-text-secondary);

        display: grid;
        justify-items: center;
        gap: 0.5rem;

        svg {
          font-size: 1.5rem;
        }

        &.active {
          color: var(--color-primary);
        }
      }

      &:nth-child(3) {
        a {
          svg {
            background-color: var(--color-primary);
            color: var(--color-white);

            block-size: 3.5rem;
            inline-size: 3.5rem;

            padding: 0.75rem;

            border-radius: 999rem;
          }

          span {
            padding-block-start: 1rem;
          }
        }
      }
    }
  }
}
