.text-area {
  background-color: var(--color-white);
  color: var(--color-text);

  display: block;

  min-block-size: 1rem;
  max-block-size: 7rem;
  resize: vertical;

  padding: 1rem;

  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;

  &::placeholder {
    color: var(--color-text-secondary);
  }

  &:focus {
    outline: 1px solid var(--color-text);
    outline-offset: -2px;
  }
}
