.text-area {
  background-color: var(--color-white);

  min-block-size: 1rem;
  max-block-size: 7rem;
  inline-size: 100%;
  resize: vertical;

  padding: 1rem;

  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;

  font-size: 0.75rem;
  font-weight: 500;

  letter-spacing: 0.5px;
  line-height: normal;

  &:focus {
    border-color: var(--color-primary);
  }

  &::placeholder {
    color: var(--color-text-secondary);
  }
}
