.upload-image {
  background-color: var(--color-white);

  position: relative;
  isolation: isolate;
  overflow: hidden;

  display: block;

  block-size: 10rem;

  border: 2px dashed var(--color-outline);
  border-radius: 1rem;

  cursor: pointer;

  input {
    display: none;
  }

  .blank,
  .preview {
    block-size: 100%;

    padding: 1rem;
  }

  .blank {
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 0.25rem;

    text-align: center;

    > svg {
      color: var(--color-text-secondary);

      font-size: 3rem;
    }
  }

  .preview {
    position: relative;

    display: grid;
    align-content: start;
    justify-content: end;

    img {
      position: absolute;
      inset: 0;
      z-index: -1;

      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }

    button {
      background-color: var(--color-form);
      color: var(--color-danger);

      border-radius: 0.25rem;

      font-size: 2rem;
    }
  }
}
