*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  color-scheme: light;
  caret-color: var(--color-primary);
  accent-color: var(--color-primary);

  font-family: Inter, sans-serif;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-white);
}
